.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #f5b0cb;
}

h1 {
  margin: 30px;
  font-family: monospace;
  font-size: 4rem;
  font-weight: 200;
  color: #dc6acf;
  padding: 3%;
}

h2 {
  padding: 3%;
  font-family: monospace;
  font-weight: 200;
  font-size: 2rem;
  color: #dc6acf;
}

p {
  font-size: 2rem;
  color: #dc6acf;
  font-family: monospace;
}

img {
  width: 80%;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: honeydew;
}
